SERVER_PORT=
MONGO_USER=
MONGO_PASSWORD=
DB_NAME=
 
// WhatsApp Configuration
WHATSAPP_BASE_URL=link n8n evolutionApi
WHATSAPP_INSTANCE=tu_instancia_aqui
WHATSAPP_API_KEY= WHATSAPP_API_KEY

// SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=
SMTP_SECURE=false
SMTP_USER=servineo2025@gmail.com
SMTP_PASSWORD=
SMTP_FROM=servineo2025@gmail.com
LOCATIONIQ_TOKEN=